pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2

# Use CPU PyTorch wheel on build if needed; if you already installed in local venv leave as 'torch'
torch
transformers==4.44.2
sentencepiece==0.2.0
protobuf==4.25.3

vaderSentiment==3.3.2
regex==2024.9.11
python-Levenshtein==0.25.1
fuzzywuzzy==0.18.0
rapidfuzz==3.14.3

fastapi==0.115.4
uvicorn==0.32.0
requests==2.32.3
python-dotenv==1.0.1

matplotlib==3.9.2
seaborn==0.13.2
